<script type="text/javascript" src="{{ asset(base_path ~ 'vendor/js.cookie.js') }}"></script>
{% if sn.include_jquery %}
    <script src="{{ asset(base_path ~ sn.jquery_path) }}"></script>
{% endif %}
{% if sn.include_bootstrap %}
    <link href="{{ asset(base_path ~ sn.bootstrap_css_path) }}" rel="stylesheet" type="text/css">
    <script src="{{ asset(base_path ~ sn.bootstrap_js_path) }}"></script>
{% endif %}
{% if sn.include_fontawesome %}
    <link href="{{ asset(base_path ~ sn.fontawesome_path) }}" rel="stylesheet" type="text/css">
{% endif %}
<link href="{{ asset(base_path ~ sn.summernote_css_path) }}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ asset(base_path ~ sn.summernote_js_path) }}"></script>
{% if sn.language is not null %}
    <script type="text/javascript" src="{{ asset(base_path ~ 'lang/summernote-'~lang~'.js') }}"></script>
{% endif %}
{% if sn.plugins is not null %}
    {% for plugin in sn.plugins %}
        <script type="text/javascript" src="{{ asset(base_path ~ 'plugin/summernote-ext-'~plugin~'.js') }}"></script>
    {% endfor %}
{% endif %}

{% if sn.upload_images %}
<div id="upload-message-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <p>The following files were not uploaded because they were too big (max file size is 1 MB):</p>
                <ul id="files-container"></ul>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div id="paste-from-word-message-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>We think that you copy-pasted the content from an Office application and by doing this, it might not look as good as you wish after you save.</p>
                <p>We can clean the content formatting for you so that it is web-friendly, but it might not look the same after that and you might have to reapply styling inside the editor.</p>
                <p>Do you want us to format the content?</p>
                <div class="form-inline">
                    <button class="btn btn-success" id="format-btn">Yes</button>
                    <button class="btn btn-warning m-l-sm" id="no-format-btn">No</button>
                    <div class="checkbox i-checks m-l-sm">
                        <label>
                            <input type="checkbox" name="never-ask-again" id="never-ask-again">
                            <i></i> Don't bug me anymore
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
{% autoescape false %}
    /**
     * PasteWord
     */
    var PasteWord = (function () {
        /**
         * formatInput removes all MS Word formatting
         *
         * Original source/author:
         * http://patisserie.keensoftware.com/en/pages/remove-word-formatting-from-rich-text-editor-with-javascript
         *
         * @param {String} sInput
         * @return {String} Reformatted input
         */
        var formatInput = function (sInput) {
            // Remove inline styles
            sInput = sInput.replace(/(<[^<>]+) style=['"][^'"<>]*['"]/gi, "$1");
            sInput = sInput.replace(/(<[^<>]+) style=[^'"<> ]+/gi, "$1");

            // Remove classes
            sInput = sInput.replace(/(<[^<>]+) class=['"][^'"<>]*['"]/gi, "$1");
            sInput = sInput.replace(/(<[^<>]+) class=[^'"<> ]+/gi, "$1");

            // Remove style tags
            sInput = sInput.replace(/<style[\s\S]*?<\/style>\s*/gim, "");

            // Remove span tags but keep content
            sInput = sInput.replace(/<span[^<>]*>([\s\S]*?)<\/span>/gim, "$1");

            // Remove id attribute
            sInput = sInput.replace(/(<[^<>]+) id=['"][^'"<>]*['"]/gi, "$1");

            // Remove script tags
            sInput = sInput.replace(/<script[\s\S]*?<\/script>\s*/gim, "");

            // Remove images
            sInput = sInput.replace(/<img[^<>]*>\s*/gim, "");

            // Remove forms
            sInput = sInput.replace(/<form[\s\S]*?<\/form>\s*/gim, "");

            // Remove tags with only whitespace
            sInput = sInput.replace(/<([a-z0-9]+)[^<>]*>(\s|&nbsp;)*<\/\1>\s*/gim, "");

            // Remove tag attributes
            // sInput = sInput.replace(/<([a-z0-9]+) [^<>]+>/gim, "<$1>");

            // Remove comments
            sInput = sInput.replace(/<!--[\s\S]*?-->\s*/gim, "");

            return sInput;
        };

        return {
            format: formatInput
        };
    })();

    var neverAskAgain = Cookies.get('neverAskAgain') == 'true';
    var editor;
{% if sn.upload_images %}
    var MAX_UPLOAD_SIZE = {% if sn.max_upload_size is not null %}{{ sn.max_upload_size }}{% else %}1048576{% endif %};
    var pasteFromWordModal = $('#paste-from-word-message-modal');
    pasteFromWordModal.modal({
        show: false,
        backdrop: 'static',
        keyboard: false
    });
    var uploadModal = $('#upload-message-modal');
    uploadModal.modal({show: false});
{% endif %}
    var summernoteConfig = {
{% if sn.height is not null %}
        height: '{{ sn.height }}',
{% endif %}
{% if sn.language is not null %}
        lang: '{{ sn.language }}',
{% endif %}
{% if sn.toolbar is not null %}
        toolbar: {{ sn.toolbar }},
{% endif %}
{% if sn.upload_images %}
        onImageUpload: function (files) {
            var notUploaded = [];

            for (var i = 0; i < files.length; i++) {
                if (files[i].size <= MAX_UPLOAD_SIZE) {
                    sendFile(files[i], editor);
                } else {
                    notUploaded.push(typeof files[i].name !== 'undefined' ? files[i].name : 'clipboard file');
                }
            }

            $('#files-container').empty();

            $.each(
                notUploaded, function (index)
                {
                    $('#files-container').append("<li>" + notUploaded[index] + "</li>");
                }
            );

            if (notUploaded.length > 0) {
                uploadModal.modal('show');
            }
        },
        onPaste: function (e) {
            e.preventDefault();
            e.stopPropagation();

            var paste = e.originalEvent.clipboardData && e.originalEvent.clipboardData.getData ?
                e.originalEvent.clipboardData.getData('text/html') :   // Standard
                window.clipboardData && window.clipboardData.getData ?
                window.clipboardData.getData('Html') :                 // MS
                false;

            if (/Mso/.test(paste) && !neverAskAgain) {
                $('#never-ask-again').change(function () {
                    $('#format-btn').prop('disabled', false);

                    neverAskAgain = false;

                    if ($(this).is(':checked')) {
                        $('#format-btn').prop('disabled', true);

                        neverAskAgain = true;
                    }

                    Cookies.set('neverAskAgain', neverAskAgain);
                });

                $('#format-btn', pasteFromWordModal).click(function () {
                    paste = PasteWord.format(paste);

                    editor.code(paste);

                    pasteFromWordModal.modal('hide');
                });

                $('#no-format-btn', pasteFromWordModal).click(function () {
                    editor.code(paste);

                    pasteFromWordModal.modal('hide');
                });

                pasteFromWordModal.modal('show');

                return;
            }

            editor.code(paste);
        }
{% endif %}
    };

{% if sn.upload_images %}
    function sendFile(file, editor) {
        data = new FormData();
        data.append("file", file);
        $.ajax({
            data: data,
            type: "POST",
            url: Routing.generate({{ sn.image_upload_route }}),
            cache: false,
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.status) {
                    editor.summernote('insertImage', response.url);
                } else {
                    alert(response.message);
                }
            }
        });
    }
{% endif %}

    $(function() {
        editor = $("{{ sn.selector }}");
        editor.summernote(summernoteConfig);
    });
{% endautoescape %}
</script>
